*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: #13171d;
	overflow-x: hidden;
}

.font-poppins{
	font-family: 'Poppins', sans-serif;
}

.font-rubik{
	font-family: 'Rubik', sans-serif;
}

.container{
	background-color: transparent;
	width: 100%;
	margin: 0 auto;
}

nav{
	display: flex;
	justify-content: space-between;
	min-height: 8vh;
	padding: 20px;
}

.logo{
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 24px;
}

.logo a{
	text-decoration: none;
	color: #fff;
}

.nav-links{
	width: 60%;
	height: 100%;
	background-color: #1e252e;
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 20% 0 0 50%;
	z-index: 1;
	transform: translateX(100%);
	transition: transform 1s cubic-bezier(1, 0, 0, 1);
}

.nav-active{
	transform: translateX(0%);
}

.nav-item{
	list-style: none;
	opacity: 0;
	position: relative;
	padding: 6px 0;
}

.nav-item::after{
	content: "";
	width: 100%;
	height: 2px;
	background-color: red;
	background-image: linear-gradient(to right, #e96443 , #904e95);
	position: absolute;
	left: 0;
	transform: scaleX(0);
	transition: transform 0.3s;
}

.nav-item::after{
	bottom: 0;
	transform-origin: right;
}

.nav-item:hover:not(.active)::after{
	transform: scaleX(1);
}

.nav-item a{
	color: #fff;
	text-decoration: none;
	letter-spacing: 3px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 300;
}

.active::after{
	transform: scaleX(1);
}


@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.burger{
	width: 22px;
	height: 24px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	cursor: pointer;
	z-index: 2;
}

.burger-line{
	width: 100%;
	height: 2px;
	background-color: #fff;
	transition: all 0.8s;
}

.nav-active .burger-line1{
	transform: rotateZ(-405deg) translate(-5px, 6px);
}

.nav-active .burger-line2{
	opacity: 0;
}

.nav-active .burger-line3{
	transform: rotateZ(405deg) translate(-5px, -6px);
}

.title{
	width: 100%;
	text-align: center;
	padding: 65px 0;
}

.title h1{
	margin: 0 auto;
	color: #fff;
	font-size: 35px;
	font-weight: 700;
}

.title .subtitle{
	color: #8d949e;
	font-size: 20px;
	margin: 10px;
}

.img-wrapper{
	width: 100%;
	height: auto;
	background-size: contain;
	overflow: hidden;
}

.img-wrapper img{
	width: 100%;
	height: auto;
	display: block;
}

.video-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	padding-top: 56.25%;
	margin-top: 15px;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.blogs-intro{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.mobile-hide {
	display: none;
}

.thumbnail{
	background-color: black;
	position: relative;
	overflow: hidden;
	margin-top: 15px;
}

.thumbnail img{
	opacity: 0.5;
}

.additional {
	position: absolute;
	color: #eee;
	text-align: center;
	top: 0;
	width: 100%;
	padding-top: 10vw;
}

.additional h3{
	font-size: 5.5vw;
	background: #13171d;
	display: inline-block;
	padding: .3em .5em;
}

.additional p{
	font-size: 3.5vw;
	margin: 0.5em 0 2em 0;
}

.additional a{
	display: inline-block;
	background-color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: .5em;
	color: black;
	border-radius: 4px;
}

.additional a:last-child{
	background: none;
	border: 1px solid #fff;
	color: #fff;
	margin-left: 5px;
}

.info{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 40px 20px;
}

.about-me{
	color: #fff;
	font-size: 32px;
	margin-bottom: 15px;
}

.info-columns{
	display: flex;
	flex-direction: column;
}

.info-columns div{
	padding-bottom: 40px;
}

.info-h3{
	color: #fff;
	font-size: 21px;
	font-weight: 300;
	margin-bottom: 7px;
}

.portfolio-button{
	text-transform: uppercase;
	text-decoration: none;
	color: #E94057;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 1px;
	box-sizing: border-box;
	display: inline-block;
	padding: 15px;
	margin-top: 10px;
	border: 2px solid #3b3f45;
	border-image: linear-gradient(45deg, #8A2387 , #F27121) 10% stretch;
}

.info-col2 p{
	color: #8d949e;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 28px;
}

.info-col3 p{
	color: #8d949e;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 28px;
	margin-bottom: 5px;
}

.info-col3 p .service-title{
	text-transform: uppercase;
	font-weight: 700;
}

.timeline-section{
	width: 100%;
	margin: 0 auto;
	color: #fff;
}

.timeline-title{
	font-size: 32px;
	margin-bottom: 80px;
	text-align: center;
}

.timeline-container{
	position: relative;
}

.timeline-container:before{
	content: '';
	position: absolute;
	left: 30%;
	width: 1px;
	height: 100%;
	background: #fff;
}

.timeline-container .time{
	font-size: 14px;
	color: #8d949e;
	font-weight: 300;
}

.timeline-container .timeline-content{
	font-size: 20px;
	text-align: left;
	position: relative;
	width: 70%;
	right: -30%;
	padding: 18px 18px 42px 18px;
}

.timeline-container .timeline-content:after{
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	background-color: #fff;
	top: 32px;
	left: -2px;
}

.timeline .timeline-container .time{
	width: 30%;
	position: absolute;
	text-align: right;
	padding: 20px;
	top: 8px;
}

.read-more-text{
	width: 100%;
	text-align: left;
	color: #8d949e;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 28px;
}

.read-more-text a{
	text-decoration: none;
	color: #E94057;
}

.footer{
	width: 100%;
	margin: 110px 0;
	text-align: center;
}

.soc-media{
	padding: 10px;
	background-color: #1b2129;
	font-size: 20px;
	color: #8d949e;
	margin: 0 5px;
	min-width: 40px;
	min-height: 40px;
	text-align: center;
	transition: all .2s;
}

.soc-media:hover{
	color: #fff;
	background-color: #E94057;
}

.social-media-wrapper h3{
	color: #8d949e;
	font-size: 28px;
	margin-bottom: 45px;
}

.portf-videos{
	display: flex;
	flex-direction: column;
}

.portf-videos .vid{
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.portf-videos .vid .start-icon i{
	font-size: 44px;
	color: #F8F8F8;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: .8;
}

.portf-videos .vid .video-caption{
	position: absolute;
	bottom: 2px;
	right: 10px;
	text-align: right;
}

.portf-videos .vid .video-caption h3{
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
	text-shadow: 4px 4px 16px rgba(0,0,0,0.7);
}

.portf-videos .vid .video-caption p{
	color: #E94057;
	font-size: 14px;
	font-weight: 700;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	background: rgba(0,0,0,0.95);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;
	visibility: hidden;
	opacity: 0;
	transition: all 0.4s;
}

.popup.active{
	visibility: visible;
	opacity: 1;
}

.popup .video-wrapper{
	position: relative;
	max-width: 100%;
	outline: none;
}

.popup .video-wrapper iframe{
	position: absolute;
}

.popup .close-popup{
	position: fixed;
	top: 0;
	right: 5px;
	width: 26px;
	height: 28px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	cursor: pointer;
	z-index: 1000;
}

.popup .close-popup .line{
	width: 100%;
	height: 2px;
	background-color: #fff;
	transition: all 0.8s;
}

.popup .close-popup .line:nth-child(1){
	transform: rotate(45deg) translate(10px, 0px);
}

.popup .close-popup .line:nth-child(2){
	transform: rotate(-45deg) translate(10px, 0px);
}

.gif-wrapper{
	display: none;
}

.blog-wrapper{
	margin-bottom: 70px;	
}

.blog{
	display: flex;
	flex-direction: column;
}

.blog-text{
	flex: 2;
	order: 2;
	padding-right: 10px;
}

.blog-img{
	flex: 1;
	order: 1;
	min-height: 150px;
	background-image: url('../blogs/gran-canaria/cover.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.blog-info{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.blog-info .date{
	color: #fff;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	padding: 15px;
	margin-right: 15px;
	background-color: #E94057;
}

.blog-info .blog-title h3{
	font-size: 20px;
	font-weight: 700;
}

.blog-info .blog-title a{
	color: #fff;
	text-decoration: none;
}

.blog-info .blog-title p{
	color: #8d949e;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 28px;
}

.blog-text .blog-intro{
	margin-top: 45px;
	text-align: left;
	color: #8d949e;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 28px;
	padding-left: 5px;
}

.blog-text .blog-intro a{
	color: #E94057;
	text-decoration: none;
	text-transform: uppercase;
}

.each-blog{
	margin-top: 50px !important;
	width: 100%;
}

.each-blog h1{
	color: #fff;
	font-size: 30px;
	text-align: center;
}

.each-blog .blog-date{
	color: #E94057;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 28px;
	margin: 40px 0 40px 0;
}

.each-blog .para{
	color: #8d949e;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 28px;
	margin: 0 10px 28px 10px;
}

.each-blog .blog-video-wrap{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}

.each-blog .blog-video-wrap iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.around-video{
	width: 100%;
	margin-top: 60px;
}

@media screen and (min-width: 768px){
	.nav-links{
		width: 40%;
	}

	.title h1{
		font-size: 50px;
	}

	.title .subtitle{
		font-size: 25px;
	}

	.content-wrapper{
		margin-top: 30px;
	}

	.me-content {
		display: flex;
		flex-direction: row;
		width: 100%;
		align-items: center;
	}

	.left-container{
		flex: 1;
	}

	.right-container{
		flex: 2;
		display: flex;
		flex-direction: column;
	}
	
	.mobile-hide{
		display: block;
	}

	.videos-intro{
		display: flex;
		flex-direction: row;
	}

	.video-wrapper{
		padding-top: 28.125%;
		margin-top: 0;
	}

	.video-wrapper iframe{
		height: 100%;
	}

	.blogs-intro{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	
	.thumbnail{
		margin-top: 0;
	}

	.additional {
		padding-top: 3vw;
	}

	.additional h3{
		font-size: 2vw;
		padding: .3em .5em;
	}

	.additional p{
		font-size: 1.5vw;
		margin: 0.5em 0 2em 0;
	}

	.additional a{
		padding: .5em;
		color: black;
		border-radius: 4px;
	}

	.info{
		width: 80%;
		display: flex;
		justify-content: center;
		margin: 60px auto;
	}

	.about-me{
		font-size: 42px;
	}

	.timeline-container{
		position: relative;
	}

	.timeline-container:before{
		content: '';
		position: absolute;
		left: 50%;
		width: 1px;
		height: 100%;
		background: #fff;
	}

	.timeline-container .time{
		font-size: 18px;
		color: #8d949e;
		font-weight: 300;
		padding-top: 0px;
		margin-top: 2px;
	}

	.timeline-container .timeline-content{
		font-size: 28px;
		position: relative;
		width: 50%;
		padding: 18px 18px 42px 18px;
	}

	.timeline-container .timeline-content h3{
		transition: all .3s;
		display: inline-block;
		cursor: default;
	}

	.timeline-container .timeline-content h3:hover{
		color: #E94057;
	}
	
	.read-more-text{
		width: 100%;
		text-align: left;
		color: #8d949e;
		font-size: 15px;
		font-weight: 300;
		letter-spacing: 1px;
		line-height: 28px;
		opacity: 0;
		height: 0;
		overflow: hidden;
		transform: scaleY(0);
		transition: all .5s;
		transform-origin: top;
	}

	:root {
		--dropdown-height: 0px;
	}

	.read-more-toggle{
		opacity: 1;
		height: var(--dropdown-height);
		transform: scaleY(1);
	}

	.timeline-container:nth-child(odd) .timeline-content{
		text-align: right;
		left: 0%;
	}

	.timeline-container:nth-child(even) .timeline-content{
		text-align: left;
		right: -50%;
	}

	.timeline-container .timeline-content:after{
		content: '';
		position: absolute;
		width: 5px;
		height: 5px;
		background-color: #fff;
		top: 38px;
	}

	.timeline-container:nth-child(odd) .timeline-content:after{
		left: auto;
		right: -3px;
	}

	.timeline-container:nth-child(even) .timeline-content:after{
		right: auto;
		left: -2px;
	}

	.timeline .timeline-container .time{
		width: 50%;
		position: absolute;
		padding: 20px;
	}
	
	.timeline .timeline-container:nth-child(odd) .time{
		text-align: left;
		top: 8px;
		left: 50%;
	}

	.timeline .timeline-container:nth-child(even) .time{
		text-align: right;
		top: 8px;
		right: 50%;
	}

	.portf-videos{
		display: flex;
		flex-direction: unset;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.portf-videos .vid{
		flex-basis: 33.33%;
		margin: 0;
	}

	.popup .video-wrapper{
		max-width: 50%;
	}

	.blog-wrapper{
		margin-bottom: 70px;	
	}

	.blog{
		display: flex;
		flex-direction: row;
	}

	.blog-text{
		flex: 2;
		order: 1;
		padding-right: 24px;
	}

	.blog-info{
		display: flex;
		flex-direction: row;
	}

	.blog-img{
		flex: 1;
		order: 2;
		height: 350px;
	}

	.blog-info .blog-title h3{
		font-size: 26px;
		font-weight: 700;
	}

	.each-blog{
		width: 70%;
		margin: 0 auto;
	}

	.each-blog h1{
		color: #fff;
		font-size: 42px;
		text-align: center;
	}

	.around-video{
		width: 70%;
		margin: 0 auto;
		margin-top: 50px;
	}
}

@media screen and (min-width: 1024px){
	.container{
		width: 90%;
	}

	.burger{
		display: none;
	}

	nav {
		align-items: center;
		z-index: 0;
	}

	.nav-links{
		position: static;
		width: 40%;
		right: 0px;
		height: 8vh;
		top: 0;
		background-color: transparent;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		transform: translateX(0%);
		transition: transform 1s cubic-bezier(1, 0, 0, 1);
		margin-right: 0;
		cursor: pointer;
		z-index: 0;
	}

	.nav-item{
		opacity: 1;
	}

	.title h1{
		font-size: 55px;
	}

	.title .subtitle{
		font-size: 25px;
	}

	.thumbnail{
		background-color: #aa4b6b;
		transition: background-color 0.5s;
		position: relative;
		overflow: hidden;
	}

	.thumbnail img{
		opacity: .9;
		transform: scale(1.15);
		transition: all .5s;
	}

	.additional{
		position: absolute;
		color: #eee;
		text-align: center;
		top: 0;
		width: 100%;
		padding-top: 3vw;
		opacity: 1;
		transform: scale(1.3);
		transition: all .5s;
	}

	.additional h3{
		font-size: 1.5vw;
		background: #13171d;
		display: inline-block;
		padding: .3em .5em;
		opacity: 1;
		transition: all .5s;
	}

	.additional p{
		font-size: 1.2vw;
		margin: 0.5em 0 2em 0;
		opacity: 0;
		transition: all .5s;
	}

	.additional a{
		display: inline-block;
		background-color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		padding: .5em;
		color: black;
		border-radius: 4px;
		opacity: 0;
		transition: all .5s;
	}

	.additional a:last-child{
		background: none;
		border: 1px solid #fff;
		color: #fff;
		margin-left: 5px;
	}

	.thumbnail:hover{
		background-color: black;
	}

	.thumbnail:hover img{
		transform: translate3d(0, 0, 0) scale(1);
		opacity: 0.5;
	}

	.thumbnail:hover .additional{
		opacity: 1;
		transform: scale(1);
	}

	.thumbnail:hover .additional p{
		opacity: 1;
		transform: scale(1);
	}

	.thumbnail:hover .additional a{
		opacity: 1;
		transform: scale(1);
	}

	.thumbnail:hover .additional a:last-child:hover{
		background-color: white;
		color: black;
	}

	.intro-picture img{
		transform: scale(1);
		transition: all .5s;
	}

	.intro-picture img:hover{
		transform: scale(1.15) rotateZ(2deg);
	}

	.info-columns{
		display: flex;
		flex-direction: row;
	}

	.info-columns div{
		flex: 1;
	}

	.info-columns div{
		padding: 0 15px;
	}

	.info-columns div:first-child{
		padding-left: 0px;
	}

	.info-columns div:last-child{
		padding-right: 0px;
	}

	.portfolio-button{
		text-transform: uppercase;
		text-decoration: none;
		color: #8d949e;
		font-weight: 700;
		font-size: 16px;
		letter-spacing: 1px;
		box-sizing: border-box;
		display: inline-block;
		padding: 15px;
		margin-top: 10px;
		transition: color 0.3s;
	}

	.portfolio-button:hover{
		color: #E94057;
	}
	
	.portf-videos .vid{
		cursor: pointer;
	}

	.portf-videos .vid .video-caption h3{
		font-size: 32px;
	}

	.portf-videos .vid .video-caption p{
		font-size: 20px;
	}

	.portf-videos .vid .video-caption{
		bottom: 15px;
		right: 20px;
		opacity: 0;
		transition: all 0.5s;
		transform: scale(1.2);
		transform-origin: bottom right;
	}

	.portf-videos .vid:hover .video-caption{
		opacity: 1;
		transform: scale(1);
	}
	
	.portf-videos .vid .start-icon{
		opacity: 1;
		transition: all 0.5s;
	}

	.portf-videos .vid:hover  .start-icon{
		opacity: 0;
	}

	.portf-videos .img-wrapper{
		transition: all 0.5s;
	}

	.gif-wrapper{
		display: initial;
		position: absolute;
		overflow: hidden;
		width: 100%;
		margin: 0 auto;
		padding-top: 56.25%;
		opacity: 0;
		transition: all 0.5s;
	}

	.gif-wrapper video{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.portf-videos .vid:hover .img-wrapper{
		opacity: 0;
	}

	.portf-videos .vid:hover .gif-wrapper{
		opacity: 1;
	}
	
	.blog-info .blog-title a{
		transition: all 0.2s;
	}

	.blog-info .blog-title a:hover{
		color: #E94057;
		text-decoration: none;
	}

	.each-blog{
		width: 60%;
		margin: 0 auto;
	}
}
